p {
	color: #4E4E4E;
	font-size: 15px;
	font-style: normal;
	font-family: 'Lato', sans-serif;
}
h1 {

	font-size: 48px;
	font-style: normal;
	font-weight: lighter;
	color: #666666;
	font-family: 'Arsenal', sans-serif;
}
a{
     color: #000000;
	 text-decoration: none;
		}
h2 {
	font-size: 20px;
	font-style: normal;
	font-weight: lighter;
	color: #999999;
	font-family: 'Arsenal', sans-serif;
	top: 12px;
	position: relative;
}
.textdiv {
	height: 200px;
}

.trueheader {
	height: 100px;
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}
.BodyDiv {
	height: 400px;
	width: 800px;
	margin-right: auto;
	margin-left: auto;
}
.wrapper {
	height: 600px;
	width: 1000px;
	margin-right: auto;
	margin-left: 10px;
	background-image: url(../bg.png);
	background-repeat: no-repeat;
}
