p {
	color: #666666;
	font-size: 13px;
	font-style: normal;
	font-family: 'Open Sans', sans-serif;
}
h1 {

	font-size: 48px;
	font-style: normal;
	font-weight: lighter;
	color: #666666;
	font-family: 'Arsenal', sans-serif;
}
a{
     color: #999999;
	 text-decoration: none;
		}
h2 {
	font-size: 20px;
	font-style: normal;
	font-weight: lighter;
	color: #999999;
	font-family: 'Arsenal', sans-serif;
}
.textdiv {
	height: 200px;
}

.trueheader {
	height: 100px;
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}
.BodyDiv {
	height: 400px;
	width: 800px;
	margin-right: auto;
	margin-left: auto;
}
.wrapper {
	height: 600px;
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../bg.png);
	background-repeat: no-repeat;
}
